@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodape.css");

:root {
--cor-de-fundo: #EBECEE;
--branco: #FFFFFF;
--laranja: #390846;
--azul-degrade:linear-gradient(97.54deg, #a180b4 35.49%, #6d3289 165.37%);
--fonte-principal:"Poppins";
--azul: #002F52;
}

body {
    background-color: var(--cor-de-fundo);
    font-family:var(--fonte-principal);
    font-size:16px;
    font-weight:400;
}

h1 {
    background-color: #EBECEE;
}

